@import "~@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-yellow, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
//@include component-themes($theme);

// Our dark theme

$dark-primary: mat-palette($mat-purple, 800);
$dark-accent: mat-palette($mat-yellow, A700);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include angular-material-theme($dark-theme);
}

.light-primary-color-1 {
  background: mat-color($primary);
}

.light-accent-color-1 {
  color: mat-color($accent, A400);
}

.light-active-link {
  background: mat-color($accent, A400) !important;
  //margin-right: 5px;
  border-radius: 0 100px 100px 0;
  //width: 85%!important;
}

//Dark
.dark-primary-color-1 {
  background: mat-color($dark-primary, 800);
}

.dark-accent-color-1 {
  color: mat-color($dark-accent, A700);
}

.dark-active-link {
  background: mat-color($dark-accent, A700) !important;
  //margin-right: 5px;
  border-radius: 0 100px 100px 0;
  //width: 85%!important;
}
.warn {
  color: mat-color($warn);
}
