<div id="inicio" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="center none" style="padding: 14px;">

  <div fxFlex fxFlex.gt-sm="60"  style="padding: 8px;">
    <app-posts-follows></app-posts-follows>
  </div>
  <div fxFlex fxFlex.gt-sm="40" fxHide.xs fxHide.sm style="padding: 8px;">
    <app-vertical-view></app-vertical-view>
    <mat-card>
      <h3>Sugerencias</h3>
      <ul>
        <li>fweeff</li>
        <li>fwefewf</li>
        <li>ewfwefew</li>
        <li>wefwef</li>
        <li>ewfwfwf</li>
      </ul>
    </mat-card>
  </div>

  
</div>


<!--mat-list>
  <h3 matSubheader>Historias</h3>
  <mat-list-item>
      <a mat-mini-fab matListAvatar style="height: 42px; width: 42px;">
          <mat-icon>add</mat-icon>
      </a>
      <h4 mat-line>Tu historia</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-10' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>Jorge A</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img matListAvatar class="avatar img-avatar" src="/assets/images/shiba2.jpg">
    <h4 mat-line>Daniela Brito</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-5' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>DBR J</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-7' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>Laia D`l</h4>
  </mat-list-item>
</mat-list-->