.example-viewport {
  height: 360px;
  
}

.example-item {
  height: 50px;
}

mat-list-item :hover{
  cursor: pointer;
  
}
.example-card {
  max-width: 600px;
}
.mat-card-header{
  margin-bottom: 6px !important;
  
}
.mat-card-actions{
  padding: 0 !important;
}
.mat-card-image{
  margin-bottom: 4px !important;
}
.icon-favorite{
  font-size: 3em;
}
.action-button-publishin{
  margin-right: 12px;
}