<div id="inicio" fxLayout="column" fxLayout.gt-md="row" style="padding: 14px;">

  <div fxFlex.gt-sm="66" style="padding: 8px;">
    <mat-card class="example-card">
      <div xLayout="row" fxLayoutAlign="space-between center">
        <mat-card-header>
          <app-story-circle-image mat-card-avatar [image]="'avatar:svg-4'" [borderColor]="'blue'">
          </app-story-circle-image>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button>
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>

      <img mat-card-image src="/assets/images/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button class="action-button-publishin" mat-icon-button color="accent" matBadge="8" matBadgePosition="above after" matBadgeColor="primary">
          <mat-icon class="icon-favorite">favorite_border</mat-icon>
        </button>

        <button mat-icon-button color="accent">
          <mat-icon class="icon-favorite">mode_comment</mat-icon>
        </button>



      </mat-card-actions>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex.gt-sm="33" style="padding: 8px;">
    <mat-card>



      <mat-list>
        <div xLayout="row" fxLayoutAlign="space-between center">
          <h3 matSubheader>Historias</h3>
          <span matSubheader>ver todas</span>
        </div>

        <mat-list-item (click)="openMatDialog()">
          <button mat-mini-fab matListAvatar color="accent" style="height: 42px; width: 42px;">
            <mat-icon>add</mat-icon>
          </button>
          <h4 mat-line>Tu historia</h4>
        </mat-list-item>
        <cdk-virtual-scroll-viewport itemSize="72" class="example-viewport">
          <mat-list-item *cdkVirtualFor="let item of dataSource; let odd=odd" class="example-item" style="">
            <app-story-circle-image matListAvatar [image]="item?.user?.image" [borderColor]="'pink'"
              style="display: table; vertical-align: middle;"></app-story-circle-image>
            <h4 mat-line>{{item.id || 'Loading...'}}</h4>
            <p mat-line> hace 5 horas </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </cdk-virtual-scroll-viewport>

      </mat-list>

    </mat-card>
  </div>
</div>

<!--mat-list>
  <h3 matSubheader>Historias</h3>
  <mat-list-item>
      <a mat-mini-fab matListAvatar style="height: 42px; width: 42px;">
          <mat-icon>add</mat-icon>
      </a>
      <h4 mat-line>Tu historia</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-10' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>Jorge A</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img matListAvatar class="avatar img-avatar" src="/assets/images/shiba2.jpg">
    <h4 mat-line>Daniela Brito</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-5' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>DBR J</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar svgIcon="{{'avatar:svg-7' | slice:7}}" class="avatar" style="border-radius: 50%;">
    </mat-icon>
    <h4 mat-line>Laia D`l</h4>
  </mat-list-item>
</mat-list-->