<div class="container">
    <mat-card style="margin:14px;">
      <mat-toolbar color="primary" class="example-toolbar" *ngIf="!isFilterShow">
        <h2 class="example-app-name">{{title}}</h2>
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="recargar">
          <mat-icon class="example-icon" aria-hidden="false" (click)="load()">refresh</mat-icon>
        </button>
        <button mat-icon-button matTooltip="filtrar">
          <mat-icon class="example-icon" aria-hidden="false" (click)="isFilterShow=true">filter_list</mat-icon>
        </button>
      </mat-toolbar>
      <mat-toolbar class="example-toolbar" *ngIf="isFilterShow">
        <mat-form-field appearance="outline">
          <mat-label>buscar por nombre</mat-label>
          <input matInput formControlName="search" (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix class="secondary-text">search</mat-icon>
        </mat-form-field>
        <span class="example-spacer"></span>
        <button mat-icon-button>
          <mat-icon class="example-icon" aria-hidden="false" (click)="isFilterShow=false">close</mat-icon>
        </button>
      </mat-toolbar>

      <mat-progress-bar mode="query" color="accent" *ngIf="isLoadingResults"></mat-progress-bar>

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row;" class="single-row">
            <div fxLayout="row" fxLayoutAlign="start center" style="padding-top: 8px; padding-bottom: 8px;">
              <app-story-circle-image matListAvatar [image]="row.image" [borderColor]="'pink'"
                style="display: table; vertical-align: middle; margin-right: 8px;"></app-story-circle-image>
              <a class="name-user-in-table" matLine> {{row.fullname}} </a>
              <span class="example-spacer"></span>

              <button mat-stroked-button color="accent" *ngIf="row.visible" fxHide.xs (click)="onClick(row)">{{buttonName}}</button>
              <button mat-icon-button fxHide.gt-xs matTooltip="{{buttonName | lowercase}}" *ngIf="row.visible" (click)="onClick(row)">
                <mat-icon color="accent" fxHide.gt-xs class="example-icon" aria-hidden="false">{{buttonIcon}}</mat-icon>
              </button>

            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSize]="dataConfig.pageSize" [pageSizeOptions]="[25]"
        [length]="dataConfig.length" (page)="onPaginate($event)"></mat-paginator>
    </mat-card>
  </div>