.viewport {
  height: 200px !important;
  
}
.example-card {
    max-width: 600px;
  }
  
  .mat-card-header {
    padding-bottom: 4px !important;
  }
  .mat-card-actions {
    padding: 0 !important;
  }
  #imagePost {
    max-height: 400px;
    background: no-repeat center center !important;
    max-height: 320px !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
  }
  
  .icon-favorite {
    font-size: 3em;
  }
  .action-button-publishin {
    margin-right: 12px;
  }
  /* ScrollBar  */
.scrollbar-comment {
  overflow: auto;
  padding-right: 8px;
}

/* Tamaño del scroll */
.scrollbar-comment::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.scrollbar-comment::-webkit-scrollbar-thumb {
  background: #d48ff4;
  border-radius: 5px;
}

.scrollbar-comment::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollbar-comment::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.scrollbar-comment::-webkit-scrollbar-track {
  border-radius: 5px;
  border-style: none;

}

.scrollbar-comment::-webkit-scrollbar-track:hover, 
.scrollbar-comment::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}