<div id="footer" class="dark-primary-color-2">
  <div fxLayout="column"  fxLayout.gt-md="row" style="color: white; padding: 24px;">

      <div fxFlex.gt-md="33">
          <b >{{'Servicios Internos' |uppercase}}</b>
          <ul class="list-footer">
              <li>
                  <a mat-icon-button href="http://intranet.unah.edu.cu/">
                      <mat-icon class="dark-accent-color-3">account_balance</mat-icon>
                      Intranet UNAH
                  </a>
                </li>
              <li><a mat-icon-button href="https://webmail.unah.edu.cu/">
                  <mat-icon class="dark-accent-color-3">mail</mat-icon>
                  Correo UNAH</a></li>
              <li><a  mat-icon-button href="http://owncloud.unah.edu.cu/">
                  <mat-icon class="dark-accent-color-3">cloud_download</mat-icon>
                  Owncloud</a></li>
              <li><a  mat-icon-button href="http://claves.unah.edu.cu/">
                  <mat-icon class="dark-accent-color-3">vpn_key</mat-icon>
                  Claves</a></li>
              <li><a  mat-icon-button href="https://proxy.unah.edu.cu/iaw/">
                  <mat-icon class="dark-accent-color-3">public</mat-icon>
                  Internet</a></li>
          </ul>

          <b >{{'GRUPOS CIENTÍFICOS' |uppercase}}</b>
          <ul class="list-footer">
              <li><a  mat-icon-button href="http://wwwceas.unah.edu.cu/">
                  <mat-icon class="dark-accent-color-3">work</mat-icon>
                  CEAS</a></li>
              <li><a  mat-icon-button href="http://proneg.unah.edu.cu/">
                  <mat-icon class="dark-accent-color-3">work</mat-icon>
                  PRONEG</a></li>
          </ul>
      </div>
      <div fxFlex.gt-md="33">
          <b >{{'Bibliotecas Virtuales' |uppercase}}</b>
          <ul class="list-footer">
              <li><a  mat-icon-button href="http://www.biblioteca.uh.cu">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de la Habana</a></li>
              <li><a  mat-icon-button href="http://biblioteca.cujae.edu.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Cujae</a></li>
              <li><a  mat-icon-button href="http://biblioteca.uci.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de las Ciencias Informáticas</a></li>
              <li><a  mat-icon-button href="http://cict.umcc.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de Matanzas</a></li>
              <li><a  mat-icon-button href="https://biblioteca.ihatuey.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Estación Experimental de Pastos y Forrajes (IH)</a></li>
              <li><a  mat-icon-button href="http://bida.uclv.edu.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad Central de Las Villas</a></li>
              <li><a  mat-icon-button href="http://revistas.uniss.edu.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de Sancti Spíritus</a></li>
              <li><a  mat-icon-button href="http://biblioteca.ucf.edu.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de Cienfuegos</a></li>
              <li><a  mat-icon-button href="http://biblioteca.unica.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de Ciego de Ávila</a></li>
              <li><a  mat-icon-button href="http://biblioteca.ismm.edu.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Instituto Superior Minero Metalúrgico de Moa</a></li>
              <li><a  mat-icon-button href="http://ict.udg.co.cu/">
                  <mat-icon class="dark-accent-color-3">school</mat-icon>
                  Universidad de Granma</a></li>
          </ul>
      </div>
      <div fxFlex.gt-md="33">
          <b >{{'Enlaces externos' |uppercase}}</b>
          <ul class="list-footer reply">
              <li><a  mat-icon-button href="http://www.cubadebate.cu/">
                  <mat-icon class="dark-accent-color-3">reply</mat-icon>
                  Cubadebate</a></li>
              <li><a  mat-icon-button href="https://www.mes.gob.cu/">
                  <mat-icon class="dark-accent-color-3">reply</mat-icon>
                  Ministerio de Educación Superior</a></li>
              <li><a  mat-icon-button href="http://www.reduniv.edu.cu/">
                  <mat-icon class="dark-accent-color-3">reply</mat-icon>
                  Red Nacional Universitaria (REDUNIV)</a></li>
              <li><a  mat-icon-button href="http://revistas.mes.edu.cu/">
                  <mat-icon class="dark-accent-color-3">reply</mat-icon>
                  EduUniv - Editorial Universitaria</a></li>
              <li><a  mat-icon-button href="http://diariomayabeque.cu/">
                  <mat-icon class="dark-accent-color-3">reply</mat-icon>
                  Diario Mayabeque</a></li>
          </ul>
      </div>
  </div>
  <div color="primary" align="center" class="dark-primary-color-3">
      <small style="color: white;">Copyright © Biblioteca Virtal UNAH.</small>
  </div>
</div>