<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="fTrigger()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">
    <b class="dark-accent-color-1" style="font-family: fantasy; font-style: italic;">1</b> 
    {{"app.dashboard.toolbar.title"| translate}}
  </h1>

  <span class="example-spacer"></span>

  <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)">
    <mat-icon >{{(isDarkTheme | async)? 'brightness_2': 'brightness_1'}}brightness_1</mat-icon>
   
  </mat-slide-toggle>
 
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notifications</mat-icon>
  <app-story-circle-image [image]="'avatar:svg-8'" [borderColor]="'yellow'" [background]="'#9c27b0'"></app-story-circle-image>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Usuarios</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Proveedores de datps</span>
      </button>
      <button mat-menu-item routerLink="../sigin">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </ng-template>
  </mat-menu>



</mat-toolbar>