<mat-tab-group mat-stretch-tabs class="example-stretched-tabs " color="accent" animationDuration="1000ms"
  (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab label="{{'app.dashboard.followers.tabs.search'| translate}}" style="overflow: hidden;">
    <ng-template matTabContent>
      <follower-table [title]="'app.dashboard.followers.tabs.search'| translate" [indexTab]="0" [count$]="countTab1$"
        [dataSource$]="dataSourceTab1$" [pagination]="paginationTab1" (load)="loadTab1()"
        (paginate)="paginateTab1($event)" (filter)="filterTab1($event)" (follow)="follow($event)"
        (unFollow)="unFollow($event)">
      </follower-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{'app.dashboard.followers.tabs.followers'| translate}}">
    <ng-template matTabContent>
      <follower-table [title]="'app.dashboard.followers.tabs.followers'| translate" [indexTab]="1" [count$]="countTab2$"
        [dataSource$]="dataSourceTab2$" [pagination]="paginationTab2" (load)="loadTab2()"
        (paginate)="paginateTab2($event)" (filter)="filterTab2($event)">
      </follower-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{'app.dashboard.followers.tabs.following'| translate}}">
    <ng-template matTabContent>
      <follower-table [title]="'app.dashboard.followers.tabs.following'| translate" [indexTab]="2" [count$]="countTab3$"
        [dataSource$]="dataSourceTab3$" [pagination]="paginationTab3" (load)="loadTab3()"
        (paginate)="paginateTab3($event)" (filter)="filterTab3($event)" (follow)="follow($event)"
        (unFollow)="unFollow($event)">
      </follower-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>