<div id="footer" class="light-primary-color-1">
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-between center"
        style="color: white; padding: 12px;">

        <div fxFlex.gt-md="50">
            <b>{{'Compañia' |uppercase}}</b>
            <ul class="list-footer">
                <li>
                    <a>Acerca de</a>
                </li>
            </ul>
        </div>
       
        <div fxFlex.gt-md="50">
            <b>{{'IDIOMA' |uppercase}}</b>
            <ul class="list-footer reply">
                <li>
                    <a (click)="onChangeLannguaje('es')">Español</a>
                <li>
                <li>
                    <a (click)="onChangeLannguaje('en')">English</a>
                <li>
            </ul>
        </div>
    </div>
    <div class="light-primary-color-1" align="center">
        <small style="color: white;">
            Copyright ©
            <b class="dark-accent-color-1" style="font-family: fantasy; font-style: italic;">1</b>
            {{"app.dashboard.toolbar.title"| translate}}
        </small>
    </div>
</div>